/*Page colours and align all items on page*/
body {
  text-align: center;
  background-color: black;
  color: gold;
}

/*Fonts for the h1,h2 and buttons*/
h1 {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
h2,
button,
h3 {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/*Reduce image size and align centrally*/
#player-hand img,
#dealer-hand img {
  justify-content: center;
  width:100px;
}

/*Centrally align dealer & player hands and increase spacing to other elements*/
#player-hand,
#dealer-hand {
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

/*Spacing of the game buttons increased*/
#game-buttons {
  margin-top: 15px;
  margin-bottom: 15px;
}

/*Spacing for the results*/
#win-or-lose-heading {
  margin-top: 5px;
  margin-top: 30px;
}

/*Deal button spacing*/
#deal-button,
#hit-button,
#stand-button {
  margin-bottom: 15px;
  font-size: 1.5rem;
}

#hit-button,
#stand-button{
  display:none;
}

/*Score's size increased*/
#player-score,
#dealer-score {
  font-size: 1.5rem;
}


@media only screen and (min-width: 576px) {
  #player-hand img,
  #dealer-hand img
  {
    width: 120px;
  }
}
@media only screen and (min-width: 700px) {
  #player-hand img,
  #dealer-hand img {
    width: 120px;
  }
}
@media only screen and (min-width: 1000px) {
  #player-hand img,
  #dealer-hand img {
    width: 200px;
  }
}
@media only screen and (min-width: 1500px) {
  #player-hand img,
  #dealer-hand img {
    width: 250px;
  }
  #player-score,
#dealer-score{
  font-size:3rem;
}
#deal-button,
#hit-button,
#stand-button{
  font-size:3rem;
}
}
